{:deps {
        org.clojure/clojure         {:mvn/version "1.10.0"}
        http-kit                    {:mvn/version "2.4.0-alpha2"}
        cheshire {:mvn/version "5.8.1"}
        org.clojure/tools.namespace {:mvn/version "0.2.11"}
        }
 :aliases {
           :repl {
                  :extra-deps {
                               cider/cider-nrepl {:mvn/version "0.18.0"}
                               nrepl/nrepl       {:mvn/version "0.5.3"}
                               }
                  :main-opts  [
                               "-m" "nrepl.cmdline"
                               ]
                  }
           }
 
 }